.section__fit__panel {
    width: 100%;
    margin: 60px auto 30px;
    padding: 60px 0;
    background-color: #F3F3F3;
    text-align: center;
}

    .section__fit__panel .wrapper {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }

        .section__fit__panel .wrapper div {
            padding: 0 10px;
            margin: 0 auto;
            position: relative;
        }

@media (min-width: 640px) {
    .section__fit__panel .wrapper div {
        padding: 0 10px;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 992px) {
    .section__fit__panel .wrapper div {
        height: 350px;
        padding: 20px;
    }
}

.section__fit__panel .wrapper div img {
    margin: 30px 0 20px;
    min-height: 48px;
    z-index: 1;
}

.section__fit__panel .wrapper div .head {
    width: 100%;
    letter-spacing: 2px;
    margin: 0 auto 20px;
    color: #2F4259;
    line-height: 2.25rem;
    font-family: Buenard, serif;
    font-size: 1.375rem;
}

@media (min-width: 640px) {
    .section__fit__panel .wrapper div .head {
        width: 100%;
        letter-spacing: 2px;
        margin: 0 auto 20px;
        color: #2F4259;
        line-height: 2.25rem;
        font-family: Buenard, serif;
        font-size: 1.375rem;
    }
}

@media (min-width: 992px) {
    .section__fit__panel .wrapper div .head {
        max-width: 260px;
        font-size: 1.75rem;
    }
}

.section__fit__panel .wrapper div .sub-head {
    max-width: 335px;
    letter-spacing: 1px;
    margin: 0 auto;
    color: #747474;
}

@media (min-width: 640px) {
    .section__fit__panel .wrapper div .sub-head {
        max-width: 335px;
        letter-spacing: 1px;
        margin: 0 auto;
        color: #747474;
    }
}

@media (min-width: 992px) {
    .section__fit__panel .wrapper div .sub-head {
        max-width: 350px;
    }
}

.section__fit__panel .wrapper div div:nth-child(2):before {
    content: '';
    right: 0;
    width: 1px;
    height: 180px;
    background: gray;
    position: absolute;
    top: 140px;
}

.section__fit__panel .wrapper div div:nth-child(2):after {
    content: '';
    left: 0;
    width: 1px;
    height: 180px;
    background: gray;
    position: absolute;
    top: 140px;
}

.section__fit__panel .title {
    font-family: Buenard, serif;
    color: #747474;
    width: initial;
    margin: 0 auto;
    font-size: 1.625rem;
    line-height: 2.375rem;
    width: 250px;
}

@media (min-width: 640px) {
    .section__fit__panel .title {
        font-family: Buenard, serif;
        color: #747474;
        width: initial;
        margin: 0 auto;
        font-size: 1.625rem;
        line-height: 2.375rem;
        width: 250px;
    }
}

@media (min-width: 992px) {
    .section__fit__panel .title {
        font-size: 2.25rem;
        line-height: 2.75rem;
        width: 100%;
    }
}

.item__1{
    margin-right: 45px;
}