<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/login.css" />
    <script src="../JS/login.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.14/sweetalert2.all.min.js"></script>
    <script src="../JS/angular.min.js"></script>
  </head>
<body class="op" ng-app>
  <div class="w">
    <div class="w-heading">
      <h1>Login</h1>
    </div>
    <form name="myForm">
      <div class="i">
        <input id="username" type="text" name="name" ng-model="name" ng-Minlength="3" placeholder="UserName" required />
        <p ng-show="myForm.name.$error.minlength " style="color: red;"> min-length is 3!</p>
      </div>
      <div class="i">
        <input id="password" type="password" placeholder="Password" name="pass" ng-model="pass" ng-Minlength="6" required>
        <p ng-show="myForm.pass.$error.minlength " style="color: red;"> min-length is 6!</p>
      </div>
      <a href="./sign up.html" class="l-link">Sign Up</a>
      <button type="submit" class="btn btn-login" onclick="checksubmit()" ng-disabled="myForm.$invalid">Login</button>
      <hr>
      <div class="s">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
      </div>
      </form>
  </div>
</body>
</html>
